<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # DIRECT EVERYTHING TO PUBLIC FOLDER
    # This must be the VERY FIRST rule.
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>

# Keep these safety rules
<Files .env>
    Require all denied
</Files>